<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="Account">


	<insert id="insert"
			parameterType="cn.hxy.inspect.entity.Account" useGeneratedKeys="true">
		insert
		into account
		(userId,operate,value,surplus,time,type,file,fileUuid,adminId,notes,status)
		values
		(#{userId},#{operate},#{value},#{surplus},#{time},#{type},#{file},#{fileUuid},#{adminId},#{notes},#{status})
	</insert>



	<select id="selectAll"
		resultType="cn.hxy.inspect.entity.Account">
		select * from account
	</select>
	<select id="findOrdersByUserId" parameterType="String"
		resultType="cn.hxy.inspect.entity.Account">
		SELECT * FROM account WHERE userId=#{userId}
	</select>




	<select id="findAllByTelAndStatus" parameterType="String"
		resultType="cn.hxy.inspect.entity.Account">
		SELECT * FROM account WHERE userTel=#{userTel} and
		status=#{status}
	</select>
	
	<select id="findOrdersByTelAndStatus" parameterType="String"
		resultType="cn.hxy.inspect.entity.Account">
		SELECT * FROM account WHERE userTel=#{userTel} and
		status=#{status}
	</select>
	
	<sql id="Base_Column_List">
		excedate, goods, factoryname, reportfile, reportfileuuid
	</sql>
	<!-- 根据分页数据start 和size查询数据 -->
	<select id="findByPage" parameterType="Map" resultType="cn.hxy.inspect.entity.Account">
		select * from account WHERE userTel=#{userTel} and status=#{status}
		<if test="start!=null and size!=null">
			limit #{start},#{size}
		</if>
	</select>
	
	<select id="findAccountById" parameterType="String"
		resultType="cn.hxy.inspect.entity.Account">
		SELECT * FROM account WHERE id=#{id}
	</select>

	<select id="selectAllByType" parameterType="String"
			resultType="cn.hxy.inspect.entity.Account">
		SELECT * FROM account WHERE type=#{type}
	</select>
	<update id="updateStatus"
			parameterType="cn.hxy.inspect.entity.Account">
		update account set
		<if test="result!=null">
			result = #{result},
		</if>
		status=#{status} where
		id=#{id}
	</update>
</mapper>
